# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Samuel Willis
#	email = samueljohnwillis@gmail.com
[user]
	name = Sam Willis
	email = samueljohnwillis@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
